<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="base_sensor.xacro.urdf" />

  <!-- Camera blueprint -->
  <xacro:macro name="camera" params="prefix parent_link topic horizontal_fov video_width video_height *origin">
    
    <!--Base blueprint (this is physical camera frame)-->
    <xacro:sensor_base prefix="${prefix}" parent_link="${parent_link}" size="0.025 0.025 0.025" color="blue">
      <xacro:insert_block name="origin" />
    </xacro:sensor_base>

    <!-- Optical frame (virtual frame to get images in the correct orientation) -->
    <joint name="${prefix}_optical_joint" type="fixed">
      <parent link="${prefix}_link"/>
      <child link="${prefix}_optical_link"/>
      <!-- This rotation aligns the robot X-forward to the vision Z-forward -->
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>
    <link name="${prefix}_optical_link"/>

    <!-- Gazebo Integration -->
    <gazebo reference="${prefix}_link">
        <sensor name="${prefix}_sensor" type="camera">
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <topic>${topic}</topic>
            <camera>
                <horizontal_fov>${radians(float(horizontal_fov))}</horizontal_fov>
                <image>
                    <width>${video_width}</width>
                    <height>${video_height}</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.10</near>
                    <far>15.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
                <optical_frame_id>${prefix}_optical_link</optical_frame_id>
            </camera>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>
