<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="base_sensor.xacro.urdf" />

  <!-- GPS blueprint -->
  <xacro:macro name="gps" params="prefix parent_link topic update_rate *origin">
    
    <!-- Base blueprint -->
    <xacro:sensor_base prefix="${prefix}" parent_link="${parent_link}" size="0.05 0.05 0.05" color="blue">
      <xacro:insert_block name="origin" />
    </xacro:sensor_base>

    <!-- Gazebo Integration -->
    <gazebo reference="${prefix}_link">
        <sensor name="${prefix}_sensor" type="navsat">
            <always_on>1</always_on>
            <update_rate>${update_rate}</update_rate>
            <topic>${topic}</topic>
            <gz_frame_id>${prefix}_link</gz_frame_id>
        </sensor>
    </gazebo>

  </xacro:macro>

</robot>
